.sk-spinner-pulse {
    width: 40px;
    height: 40px;
    margin: 40px auto;
    background-color: #4BA980;
    border-radius: 100%;
    -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
    animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}


#__vconsole {
    color: #000;
    font-size: 13px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /* global */
    /* compoment */
}

#__vconsole .vc-max-height {
    max-height: 19.23076923em;
}

#__vconsole .vc-max-height-line {
    max-height: 3.38461538em;
}

#__vconsole .vc-min-height {
    min-height: 3.07692308em;
}

#__vconsole dd,
#__vconsole dl,
#__vconsole pre {
    margin: 0;
}

#__vconsole .vc-switch {
    display: block;
    position: fixed;
    right: 0.76923077em;
    bottom: 0.76923077em;
    color: #FFF;
    background-color: #04BE02;
    line-height: 1;
    font-size: 1.07692308em;
    padding: 0.61538462em 1.23076923em;
    z-index: 10000;
    border-radius: 0.30769231em;
    box-shadow: 0 0 0.61538462em rgba(0, 0, 0, 0.4);
}

#__vconsole .vc-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 10001;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
}

#__vconsole .vc-panel {
    display: none;
    position: fixed;
    min-height: 85%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10002;
    background-color: #EFEFF4;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

#__vconsole .vc-tabbar {
    border-bottom: 1px solid #D9D9D9;
    overflow-x: auto;
    height: 3em;
    width: auto;
    white-space: nowrap;
}

#__vconsole .vc-tabbar .vc-tab {
    display: inline-block;
    line-height: 3em;
    padding: 0 1.15384615em;
    border-right: 1px solid #D9D9D9;
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

#__vconsole .vc-tabbar .vc-tab:active {
    background-color: rgba(0, 0, 0, 0.15);
}

#__vconsole .vc-tabbar .vc-tab.vc-actived {
    background-color: #FFF;
}

#__vconsole .vc-content {
    background-color: #FFF;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 3.07692308em;
    left: 0;
    right: 0;
    bottom: 3.07692308em;
    -webkit-overflow-scrolling: touch;
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}

#__vconsole .vc-content.vc-has-topbar {
    top: 5.46153846em;
}

#__vconsole .vc-topbar {
    background-color: #FBF9FE;
    display: flex;
    display: -webkit-box;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-direction: row;
    -webkit-flex-wrap: wrap;
    width: 100%;
}

#__vconsole .vc-topbar .vc-toptab {
    display: none;
    flex: 1;
    -webkit-box-flex: 1;
    line-height: 2.30769231em;
    padding: 0 1.15384615em;
    border-bottom: 1px solid #D9D9D9;
    text-decoration: none;
    text-align: center;
    color: #000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

#__vconsole .vc-topbar .vc-toptab.vc-toggle {
    display: block;
}

#__vconsole .vc-topbar .vc-toptab:active {
    background-color: rgba(0, 0, 0, 0.15);
}

#__vconsole .vc-topbar .vc-toptab.vc-actived {
    border-bottom: 1px solid #3e82f7;
}

#__vconsole .vc-logbox {
    display: none;
    position: relative;
    min-height: 100%;
}

#__vconsole .vc-logbox i {
    font-style: normal;
}

#__vconsole .vc-logbox .vc-log {
    padding-bottom: 3em;
    -webkit-tap-highlight-color: transparent;
}

#__vconsole .vc-logbox .vc-log:empty:before {
    content: "Empty";
    color: #999;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.15384615em;
    text-align: center;
}

#__vconsole .vc-logbox .vc-item {
    margin: 0;
    padding: 0.46153846em 0.61538462em;
    overflow: hidden;
    line-height: 1.3;
    border-bottom: 1px solid #EEE;
    word-break: break-word;
}

#__vconsole .vc-logbox .vc-item-info {
    color: #6A5ACD;
}

#__vconsole .vc-logbox .vc-item-debug {
    color: #DAA520;
}

#__vconsole .vc-logbox .vc-item-warn {
    color: #FFA500;
    border-color: #FFB930;
    background-color: #FFFACD;
}

#__vconsole .vc-logbox .vc-item-error {
    color: #DC143C;
    border-color: #F4A0AB;
    background-color: #FFE4E1;
}

#__vconsole .vc-logbox .vc-log.vc-log-partly .vc-item {
    display: none;
}

#__vconsole .vc-logbox .vc-log.vc-log-partly-log .vc-item-log,
#__vconsole .vc-logbox .vc-log.vc-log-partly-info .vc-item-info,
#__vconsole .vc-logbox .vc-log.vc-log-partly-warn .vc-item-warn,
#__vconsole .vc-logbox .vc-log.vc-log-partly-error .vc-item-error {
    display: block;
}

#__vconsole .vc-logbox .vc-item .vc-item-content {
    margin-right: 4.61538462em;
    display: inline-block;
}

#__vconsole .vc-logbox .vc-item .vc-item-repeat {
    display: inline-block;
    margin-right: 0.30769231em;
    padding: 0 6.5px;
    color: #D7E0EF;
    background-color: #42597F;
    border-radius: 8.66666667px;
}

#__vconsole .vc-logbox .vc-item.vc-item-error .vc-item-repeat {
    color: #901818;
    background-color: #DC2727;
}

#__vconsole .vc-logbox .vc-item.vc-item-warn .vc-item-repeat {
    color: #987D20;
    background-color: #F4BD02;
}

#__vconsole .vc-logbox .vc-item .vc-item-code {
    display: block;
    white-space: pre-wrap;
    overflow: auto;
    position: relative;
}

#__vconsole .vc-logbox .vc-item .vc-item-code.vc-item-code-input,
#__vconsole .vc-logbox .vc-item .vc-item-code.vc-item-code-output {
    padding-left: 0.92307692em;
}

#__vconsole .vc-logbox .vc-item .vc-item-code.vc-item-code-input:before,
#__vconsole .vc-logbox .vc-item .vc-item-code.vc-item-code-output:before {
    content: "›";
    position: absolute;
    top: -0.23076923em;
    left: 0;
    font-size: 1.23076923em;
    color: #6A5ACD;
}

#__vconsole .vc-logbox .vc-item .vc-item-code.vc-item-code-output:before {
    content: "‹";
}

#__vconsole .vc-logbox .vc-item .vc-fold {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-outer {
    display: block;
    font-style: italic;
    padding-left: 0.76923077em;
    position: relative;
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-outer:active {
    background-color: #E6E6E6;
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-outer:before {
    content: "";
    position: absolute;
    top: 0.30769231em;
    left: 0.15384615em;
    width: 0;
    height: 0;
    border: transparent solid 0.30769231em;
    border-left-color: #000;
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-outer.vc-toggle:before {
    top: 0.46153846em;
    left: 0;
    border-top-color: #000;
    border-left-color: transparent;
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-inner {
    display: none;
    margin-left: 0.76923077em;
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-inner.vc-toggle {
    display: block;
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-inner .vc-code-key {
    margin-left: 0.76923077em;
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-outer .vc-code-key {
    margin-left: 0;
}

#__vconsole .vc-logbox .vc-code-key {
    color: #905;
}

#__vconsole .vc-logbox .vc-code-private-key {
    color: #D391B5;
}

#__vconsole .vc-logbox .vc-code-function {
    color: #905;
    font-style: italic;
}

#__vconsole .vc-logbox .vc-code-number,
#__vconsole .vc-logbox .vc-code-boolean {
    color: #0086B3;
}

#__vconsole .vc-logbox .vc-code-string {
    color: #183691;
}

#__vconsole .vc-logbox .vc-code-null,
#__vconsole .vc-logbox .vc-code-undefined {
    color: #666;
}

#__vconsole .vc-logbox .vc-cmd {
    position: absolute;
    height: 3.07692308em;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #D9D9D9;
    display: block !important;
}

#__vconsole .vc-logbox .vc-cmd .vc-cmd-input-wrap {
    display: block;
    height: 2.15384615em;
    margin-right: 3.07692308em;
    padding: 0.46153846em 0.61538462em;
}

#__vconsole .vc-logbox .vc-cmd .vc-cmd-input {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    padding: 0;
    font-size: 0.92307692em;
}

#__vconsole .vc-logbox .vc-cmd .vc-cmd-input::-webkit-input-placeholder {
    line-height: 2.15384615em;
}

#__vconsole .vc-logbox .vc-cmd .vc-cmd-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3.07692308em;
    border: none;
    background-color: #EFEFF4;
    outline: none;
    -webkit-touch-callout: none;
    font-size: 1em;
}

#__vconsole .vc-logbox .vc-cmd .vc-cmd-btn:active {
    background-color: rgba(0, 0, 0, 0.15);
}

#__vconsole .vc-logbox .vc-cmd .vc-cmd-prompted {
    position: fixed;
    width: 100%;
    background-color: #FBF9FE;
    border: 1px solid #D9D9D9;
    overflow-x: scroll;
    display: none;
}

#__vconsole .vc-logbox .vc-cmd .vc-cmd-prompted li {
    list-style: none;
    line-height: 30px;
    padding: 0 0.46153846em;
    border-bottom: 1px solid #D9D9D9;
}

#__vconsole .vc-logbox .vc-group .vc-group-preview {
    -webkit-touch-callout: none;
}

#__vconsole .vc-logbox .vc-group .vc-group-preview:active {
    background-color: #E6E6E6;
}

#__vconsole .vc-logbox .vc-group .vc-group-detail {
    display: none;
    padding: 0 0 0.76923077em 1.53846154em;
    border-bottom: 1px solid #EEE;
}

#__vconsole .vc-logbox .vc-group.vc-actived .vc-group-detail {
    display: block;
    background-color: #FBF9FE;
}

#__vconsole .vc-logbox .vc-group.vc-actived .vc-table-row {
    background-color: #FFF;
}

#__vconsole .vc-logbox .vc-group.vc-actived .vc-group-preview {
    background-color: #FBF9FE;
}

#__vconsole .vc-logbox .vc-table .vc-table-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-direction: row;
    -webkit-flex-wrap: wrap;
    overflow: hidden;
    border-bottom: 1px solid #EEE;
}

#__vconsole .vc-logbox .vc-table .vc-table-row.vc-left-border {
    border-left: 1px solid #EEE;
}

#__vconsole .vc-logbox .vc-table .vc-table-col {
    flex: 1;
    -webkit-box-flex: 1;
    padding: 0.23076923em 0.30769231em;
    border-left: 1px solid #EEE;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-word;
    /*white-space: nowrap;
          text-overflow: ellipsis;*/
    -webkit-overflow-scrolling: touch;
}

#__vconsole .vc-logbox .vc-table .vc-table-col:first-child {
    border: none;
}

#__vconsole .vc-logbox .vc-table .vc-small .vc-table-col {
    padding: 0 0.30769231em;
    font-size: 0.92307692em;
}

#__vconsole .vc-logbox .vc-table .vc-table-col-2 {
    flex: 2;
    -webkit-box-flex: 2;
}

#__vconsole .vc-logbox .vc-table .vc-table-col-3 {
    flex: 3;
    -webkit-box-flex: 3;
}

#__vconsole .vc-logbox .vc-table .vc-table-col-4 {
    flex: 4;
    -webkit-box-flex: 4;
}

#__vconsole .vc-logbox .vc-table .vc-table-col-5 {
    flex: 5;
    -webkit-box-flex: 5;
}

#__vconsole .vc-logbox .vc-table .vc-table-col-6 {
    flex: 6;
    -webkit-box-flex: 6;
}

#__vconsole .vc-logbox .vc-table .vc-table-row-error {
    border-color: #F4A0AB;
    background-color: #FFE4E1;
}

#__vconsole .vc-logbox .vc-table .vc-table-row-error .vc-table-col {
    color: #DC143C;
    border-color: #F4A0AB;
}

#__vconsole .vc-logbox .vc-table .vc-table-col-title {
    font-weight: bold;
}

#__vconsole .vc-logbox.vc-actived {
    display: block;
}

#__vconsole .vc-toolbar {
    border-top: 1px solid #D9D9D9;
    line-height: 3em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    display: -webkit-box;
    flex-direction: row;
    -webkit-box-direction: row;
}

#__vconsole .vc-toolbar .vc-tool {
    display: none;
    text-decoration: none;
    color: #000;
    width: 50%;
    flex: 1;
    -webkit-box-flex: 1;
    text-align: center;
    position: relative;
    -webkit-touch-callout: none;
}

#__vconsole .vc-toolbar .vc-tool.vc-toggle,
#__vconsole .vc-toolbar .vc-tool.vc-global-tool {
    display: block;
}

#__vconsole .vc-toolbar .vc-tool:active {
    background-color: rgba(0, 0, 0, 0.15);
}

#__vconsole .vc-toolbar .vc-tool:after {
    content: " ";
    position: absolute;
    top: 0.53846154em;
    bottom: 0.53846154em;
    right: 0;
    border-left: 1px solid #D9D9D9;
}

#__vconsole .vc-toolbar .vc-tool-last:after {
    border: none;
}

@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
    #__vconsole .vc-toolbar,
    #__vconsole .vc-switch {
        bottom: constant(safe-area-inset-bottom);
        bottom: env(safe-area-inset-bottom);
    }
}

#__vconsole.vc-toggle .vc-switch {
    display: none;
}

#__vconsole.vc-toggle .vc-mask {
    background: rgba(0, 0, 0, 0.6);
    display: block;
}

#__vconsole.vc-toggle .vc-panel {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

/* color */
.vcelm-node {
    color: #183691;
}

.vcelm-k {
    color: #0086B3;
}

.vcelm-v {
    color: #905;
}

/* layout */
.vcelm-l {
    padding-left: 8px;
    position: relative;
    word-wrap: break-word;
    line-height: 1;
}

/*.vcelm-l.vcelm-noc {
  padding-left: 0;
}*/
.vcelm-l.vc-toggle > .vcelm-node {
    display: block;
}

.vcelm-l .vcelm-node:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.vcelm-l.vcelm-noc .vcelm-node:active {
    background-color: transparent;
}

.vcelm-t {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* level */
.vcelm-l .vcelm-l {
    display: none;
}

.vcelm-l.vc-toggle > .vcelm-l {
    margin-left: 4px;
    display: block;
}

/* arrow */
.vcelm-l:before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 3px;
    width: 0;
    height: 0;
    border: transparent solid 3px;
    border-left-color: #000;
}

.vcelm-l.vc-toggle:before {
    display: block;
    top: 6px;
    left: 0;
    border-top-color: #000;
    border-left-color: transparent;
}

.vcelm-l.vcelm-noc:before {
    display: none;
}

.__react_component_tooltip {
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    left: -999em;
    opacity: 0;
    padding: 8px 21px;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    top: -999em;
    visibility: hidden;
    z-index: 999;
}

.__react_component_tooltip.allow_hover, .__react_component_tooltip.allow_click {
    pointer-events: auto;
}

.__react_component_tooltip:before, .__react_component_tooltip:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

.__react_component_tooltip.show {
    opacity: 0.9;
    margin-top: 0px;
    margin-left: 0px;
    visibility: visible;
}

.__react_component_tooltip.type-dark {
    color: #fff;
    background-color: #222;
}

.__react_component_tooltip.type-dark.place-top:after {
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.__react_component_tooltip.type-dark.place-bottom:after {
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.__react_component_tooltip.type-dark.place-left:after {
    border-left-color: #222;
    border-left-style: solid;
    border-left-width: 6px;
}

.__react_component_tooltip.type-dark.place-right:after {
    border-right-color: #222;
    border-right-style: solid;
    border-right-width: 6px;
}

.__react_component_tooltip.type-dark.border {
    border: 1px solid #fff;
}

.__react_component_tooltip.type-dark.border.place-top:before {
    border-top: 8px solid #fff;
}

.__react_component_tooltip.type-dark.border.place-bottom:before {
    border-bottom: 8px solid #fff;
}

.__react_component_tooltip.type-dark.border.place-left:before {
    border-left: 8px solid #fff;
}

.__react_component_tooltip.type-dark.border.place-right:before {
    border-right: 8px solid #fff;
}

.__react_component_tooltip.type-success {
    color: #fff;
    background-color: #8DC572;
}

.__react_component_tooltip.type-success.place-top:after {
    border-top-color: #8DC572;
    border-top-style: solid;
    border-top-width: 6px;
}

.__react_component_tooltip.type-success.place-bottom:after {
    border-bottom-color: #8DC572;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.__react_component_tooltip.type-success.place-left:after {
    border-left-color: #8DC572;
    border-left-style: solid;
    border-left-width: 6px;
}

.__react_component_tooltip.type-success.place-right:after {
    border-right-color: #8DC572;
    border-right-style: solid;
    border-right-width: 6px;
}

.__react_component_tooltip.type-success.border {
    border: 1px solid #fff;
}

.__react_component_tooltip.type-success.border.place-top:before {
    border-top: 8px solid #fff;
}

.__react_component_tooltip.type-success.border.place-bottom:before {
    border-bottom: 8px solid #fff;
}

.__react_component_tooltip.type-success.border.place-left:before {
    border-left: 8px solid #fff;
}

.__react_component_tooltip.type-success.border.place-right:before {
    border-right: 8px solid #fff;
}

.__react_component_tooltip.type-warning {
    color: #fff;
    background-color: #F0AD4E;
}

.__react_component_tooltip.type-warning.place-top:after {
    border-top-color: #F0AD4E;
    border-top-style: solid;
    border-top-width: 6px;
}

.__react_component_tooltip.type-warning.place-bottom:after {
    border-bottom-color: #F0AD4E;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.__react_component_tooltip.type-warning.place-left:after {
    border-left-color: #F0AD4E;
    border-left-style: solid;
    border-left-width: 6px;
}

.__react_component_tooltip.type-warning.place-right:after {
    border-right-color: #F0AD4E;
    border-right-style: solid;
    border-right-width: 6px;
}

.__react_component_tooltip.type-warning.border {
    border: 1px solid #fff;
}

.__react_component_tooltip.type-warning.border.place-top:before {
    border-top: 8px solid #fff;
}

.__react_component_tooltip.type-warning.border.place-bottom:before {
    border-bottom: 8px solid #fff;
}

.__react_component_tooltip.type-warning.border.place-left:before {
    border-left: 8px solid #fff;
}

.__react_component_tooltip.type-warning.border.place-right:before {
    border-right: 8px solid #fff;
}

.__react_component_tooltip.type-error {
    color: #fff;
    background-color: #BE6464;
}

.__react_component_tooltip.type-error.place-top:after {
    border-top-color: #BE6464;
    border-top-style: solid;
    border-top-width: 6px;
}

.__react_component_tooltip.type-error.place-bottom:after {
    border-bottom-color: #BE6464;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.__react_component_tooltip.type-error.place-left:after {
    border-left-color: #BE6464;
    border-left-style: solid;
    border-left-width: 6px;
}

.__react_component_tooltip.type-error.place-right:after {
    border-right-color: #BE6464;
    border-right-style: solid;
    border-right-width: 6px;
}

.__react_component_tooltip.type-error.border {
    border: 1px solid #fff;
}

.__react_component_tooltip.type-error.border.place-top:before {
    border-top: 8px solid #fff;
}

.__react_component_tooltip.type-error.border.place-bottom:before {
    border-bottom: 8px solid #fff;
}

.__react_component_tooltip.type-error.border.place-left:before {
    border-left: 8px solid #fff;
}

.__react_component_tooltip.type-error.border.place-right:before {
    border-right: 8px solid #fff;
}

.__react_component_tooltip.type-info {
    color: #fff;
    background-color: #337AB7;
}

.__react_component_tooltip.type-info.place-top:after {
    border-top-color: #337AB7;
    border-top-style: solid;
    border-top-width: 6px;
}

.__react_component_tooltip.type-info.place-bottom:after {
    border-bottom-color: #337AB7;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.__react_component_tooltip.type-info.place-left:after {
    border-left-color: #337AB7;
    border-left-style: solid;
    border-left-width: 6px;
}

.__react_component_tooltip.type-info.place-right:after {
    border-right-color: #337AB7;
    border-right-style: solid;
    border-right-width: 6px;
}

.__react_component_tooltip.type-info.border {
    border: 1px solid #fff;
}

.__react_component_tooltip.type-info.border.place-top:before {
    border-top: 8px solid #fff;
}

.__react_component_tooltip.type-info.border.place-bottom:before {
    border-bottom: 8px solid #fff;
}

.__react_component_tooltip.type-info.border.place-left:before {
    border-left: 8px solid #fff;
}

.__react_component_tooltip.type-info.border.place-right:before {
    border-right: 8px solid #fff;
}

.__react_component_tooltip.type-light {
    color: #222;
    background-color: #fff;
}

.__react_component_tooltip.type-light.place-top:after {
    border-top-color: #fff;
    border-top-style: solid;
    border-top-width: 6px;
}

.__react_component_tooltip.type-light.place-bottom:after {
    border-bottom-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.__react_component_tooltip.type-light.place-left:after {
    border-left-color: #fff;
    border-left-style: solid;
    border-left-width: 6px;
}

.__react_component_tooltip.type-light.place-right:after {
    border-right-color: #fff;
    border-right-style: solid;
    border-right-width: 6px;
}

.__react_component_tooltip.type-light.border {
    border: 1px solid #222;
}

.__react_component_tooltip.type-light.border.place-top:before {
    border-top: 8px solid #222;
}

.__react_component_tooltip.type-light.border.place-bottom:before {
    border-bottom: 8px solid #222;
}

.__react_component_tooltip.type-light.border.place-left:before {
    border-left: 8px solid #222;
}

.__react_component_tooltip.type-light.border.place-right:before {
    border-right: 8px solid #222;
}

.__react_component_tooltip.place-top {
    margin-top: -10px;
}

.__react_component_tooltip.place-top:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
}

.__react_component_tooltip.place-top:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
}

.__react_component_tooltip.place-bottom {
    margin-top: 10px;
}

.__react_component_tooltip.place-bottom:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -8px;
    left: 50%;
    margin-left: -10px;
}

.__react_component_tooltip.place-bottom:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
}

.__react_component_tooltip.place-left {
    margin-left: -10px;
}

.__react_component_tooltip.place-left:before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    right: -8px;
    top: 50%;
    margin-top: -5px;
}

.__react_component_tooltip.place-left:after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
}

.__react_component_tooltip.place-right {
    margin-left: 10px;
}

.__react_component_tooltip.place-right:before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    left: -8px;
    top: 50%;
    margin-top: -5px;
}

.__react_component_tooltip.place-right:after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
}

.__react_component_tooltip .multi-line {
    display: block;
    padding: 2px 0px;
    text-align: center;
}